input[type=text] {
  -webkit-appearance: none;
}

.search-form {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 40px 0px;
    background-color: rgba(255,255,255,0.7);
    width: 50%;
}

.search-form > input {
    border: 1px solid #A9A9A9;
    border-right: none;
    border-radius: 25px 0px 0px 25px;
    background-color: rgba(255,255,255,0.9);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    padding: 5px 5px 5px 10px;
    outline: none;
}

.search-form > button {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #A9A9A9;
    border-left: none;
    border-radius: 0px 25px 25px 0px;
    color: #606060;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.search-form >button:active {
    color: black;
}

@media only screen and (max-width: 850px) {
    .search-form {
        width: 80%;
    }

    .search-form > input {
        font-size: 1.1rem;
        width: 65%;
    }
}

