@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

.search-form {
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 40px 0px;
    background-color: rgba(255,255,255,0.4);
    width: 50%;
}

.search-form > input {
    border: 1px solid #A9A9A9;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.7);
    color: #505050;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding: 5px 5px 5px 10px;
}

